{% extends "base.html" %}

{% block description %}
{% endblock description %}

{% block title %}
{% endblock title %}

{% block extra_css %}
{% endblock extra_css %}

{% block recaptcha %}
{% endblock recaptcha %}

{% block facebookSDK %}
{% endblock facebookSDK %}

{% block content %}

{% block content_left %}
{% endblock content_left %}

{% block content_center %}
{% endblock content_center %}

{% block content_right %}
{% endblock content_right %}

{% endblock content %}

{% block extra_javascript %}
{% endblock extra_javascript %}